@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "Sunborn SansOne";
    src: url("/fonts/Sunborn-SansOne.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Batangas Bold";
    src: url("/fonts/BatangasBold700.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.dashboard-title {
    font-family: "Sunborn SansOne";
}
.details-paslon {
    font-family: "Batangas Bold";
}
